

header .dark-logo{max-width: 233px;}

.left-sidebar.mini-side{top: 100px;}
.logo-my-icon{display: none;}

.topbar .top-navbar{height: 70px;}

.navbar-header.mini-nav{padding: 106px 10px 0; }

.theme-color{color:#d63943!important}
.theme-bg{background:#d63943!important}